<link
    rel="stylesheet"
    href="{{ 'section-main-collection-products.css' | asset_url }}"
    media="print"
    onload="this.media='all'"
  >
    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
    <noscript>{{ 'section-main-collection-products.css' | asset_url | stylesheet_tag }}</noscript>
    
    {% assign is_free_toothpaste_present = false %}
    {% for item in cart.items %}
      {% if item.product.id == 7087514189877 %}
        {% assign is_free_toothpaste_present = true %}
      {% endif %}
    {% endfor %}
    {% assign collection = collections[section.settings.collection] %}
    {% assign items = section.settings.limit %}
    <section class="collection-page-items">
      <div class="bundler--product-cards  {% if section.settings.collection_style_2 %} affiliat-bundles_style_2 {% endif %}">
        {% if collection != blank %}
          {%- for product in collection.products -%}
            {% render 'list-product-item',
              product: product,
              show_review: false,
              atc_text: 'ADD TO CART',
              atc: true,
              show_saving: true
            %}
          {%- endfor -%}
        {% else %}
          {%- for block in section.blocks -%}
            {% assign product = all_products[block.settings.product] %}
            {% assign custom_img = block.settings.custom_img %}
            {% assign collection_style_2 = section.settings.collection_style_2 %}
            {% assign alternate_price = block.settings.alternate_price %}
            {% render 'list-product-item',
              product: product,
              custom_img: custom_img,
              disableCTA: is_free_toothpaste_present,
              collection_style_2: collection_style_2,
              alternate_price: alternate_price,
              show_review: false,
              atc_text: 'ADD TO CART',
              atc: true,
              show_saving: true,
              discount: block.settings.discount
            %}
          {%- endfor -%}
        {% endif %}
      </div>
    </section>
    <style>
      .bundler--product-card[data-label]:after{
        font-size: 14px;
      }
      .bundler--product-card[data-label]:before {
        top: 6.6rem;
      }
    </style>
    {% schema %}
    {
      "name": "Selected Collection",
      "tag": "section",
      "class":"landing-collection",
      "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            },
            {
                "type": "range",
                "id": "limit",
                "min": 4,
                "max": 16,
                "step": 4,
                "label": "Number of Items to Show",
                "default": 4
              },
              {
                "id": "collection_style_2",
                "type": "checkbox",
                "label": "Enable Style 2"
              }
    
      ],
      "blocks": [
        {
          "type": "product",
          "name": "Product",
          "settings": [
              {
                "id": "product",
                "type": "product",
                "label": "Product"
              },
              {
                "id": "custom_img",
                "type": "image_picker",
                "label": "Custom Image"
              },
              {
                "id": "discount",
                "type": "text",
                "label": "Percentage Discount"
              },
              {
                "id": "alternate_price",
                "type": "text",
                "label": "Alternate Price"
              }
          ]
        }
      ],
      "presets": [
        {
          "name": "Selected Collection"
        }
      ]
    }
    {% endschema %}
    